
<div class="alert ">
    <ul class= "list-group">
        <%@users.each do |user|%>

            <%= link_to user.name, "/user/#{user.id}", class: "list-group-item" %>

        <%end%>
    </ul>
</div>
<%= link_to "회원가입", "/sign_up"%>

<!--<table style="height: 150px">-->
<!--    <tr style="height: 65px">-->
<!--        <td rowspan="3" style="font-size: 150px; vertical-align: middle;">-->
<!--            M-->
<!--        </td>-->
<!--        <td style="font-size: 25px; vertical-align: bottom;">-->
<!--            <strong>atching</strong>-->
<!--        </td>-->
<!--    </tr>-->
<!--    <tr style="font-size: 25px; height: 30px;">-->
<!--        <td><strong>entoring</strong></td>-->
<!--    </tr>-->
<!--    <tr style="font-size: 25px; height: 55px; vertical-align: top;">-->
<!--        <td><strong>ingling</strong></td>-->
<!--    </tr>-->
<!--</table>-->
